.productActions {
  width: 100%;
  border: 1px #d5d9d9 solid;
  border-radius: 8px;
  padding: 14px 18px;
}

.productActions__price {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.productActions__price h2 {
  font-size: 20px;
  color: #b12704;
}
.productActions__price h2 > span {
  margin-right: 6px;
}

.productActions__shipping {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: gray;
  font-weight: 700;
  padding: 5px 0;
}

.productActions__sellerInfo {
  padding: 8px 0;
}
.productActions__sellerInfo table {
  width: 100%;
}
.productActions__sellerInfo table > tbody > tr > td {
  font-size: 14px;
  color: gray;
  text-transform: capitalize;
}
.productActions__sellerInfo a {
  color: #111;
  text-transform: none;
}
/* On stock = 0  */

.productActions__price b {
  font-size: 14px;
  color: #b12704;
  text-align: center;
}

.productActions__unavailable {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productActions__unavailable p {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: #111;
  margin: 8px 0;
  text-align: center;
}
